.mainFrame {
    width: 5cm;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
}

.right {
    background-color: lightgreen;
}

.wrong {
    background-color: lightsalmon;
}

.quest {
    font-size: 1.5cm;
    text-align: center;
}

.answer {
    font-size: 1cm;
    text-align: center;
}

.answersHolder {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}